old/20221117_GFv4_richness_rarefied_sampled.csv
old/20230120_GFv4_sampled_outliersRemoved.csv
old/20221219_GFv4_outliersRemoved.csv
old/20221210_GFv4_richness_rarefied_sampled.csv
old/20221122_GFv4_richness_rarefied_sampled.csv
old/20221219_GFv4_sampled_outliersRemoved.csv
data/20230203_GFv4_EM_richness_rarefied_sampled.csv
data/arbuscular_mycorrhizal_richness_bootstrapSamples.csv
data/20230203_GFv4_sampled_outliersRemoved.csv
