/old/20221117_GFv4_richness_rarefied_sampled.csv
/old/20230120_GFv4_sampled_outliersRemoved.csv
/old/20221219_GFv4_outliersRemoved.csv
/old/20221210_GFv4_richness_rarefied_sampled.csv
/old/20221122_GFv4_richness_rarefied_sampled.csv
/old/20221219_GFv4_sampled_outliersRemoved.csv
/spatial_predictors/CGIAR_PET-combined.tif
/spatial_predictors/emf.dbMEM.uniqueGeom.allData.Rdata
/data/20230203_GFv4_EM_richness_rarefied_sampled.csv
/data/ectomycorrhizal_richness_bootstrapSamples.csv
data/arbuscular_mycorrhizal_richness_bootstrapSamples_wMEM.csv
data/ectomycorrhizal_richness_bootstrapSamples_wMEM.csv
.RData
shap_values_EM_MEM_fasttree.npz
data/20230920_EM_richness_rarefied_sampled.csv
data/rwr_bootstrapSamples.csv
data/20231001_EM_richness_rarefied_sampled.csv
data/20240528_EM_richness_rarefied_sampled_oneHot_rwr_we.csv
data/20240610_ECM_richness_rarefied_sampled.csv
data/20240610_AMF_richness_rarefied_sampled.csv
data/20240610_ECM_sampled_outliersRemoved.csv
data/20240610_ECM_sampled_outliersRemoved_onehot.csv
