
./v1_globalfungi/visualisation/undersampling_map_globalFungi_reprojectedRobinson.tif
./v1_globalfungi/visualisation/ECM_div_globalFungi-0000000000-0000032768.tiff
./v1_globalfungi/visualisation/AM_div_globalFungi_reprojectedRobinson.tif
./v1_globalfungi/visualisation/ECM_div_globalFungi-0000000000-0000000000.tiff
./v1_globalfungi/visualisation/ECM_div_globalFungi_reprojectedRobinson.tif
./v1_globalfungi/visualisation/undersampling_map_globalFungi_reprojectedRobinson.tif
./v1_globalfungi/visualisation/ECM_div_globalFungi-0000000000-0000032768.tiff
./v1_globalfungi/visualisation/AM_div_globalFungi_reprojectedRobinson.tif
./v1_globalfungi/visualisation/ECM_div_globalFungi-0000000000-0000000000.tiff
./v1_globalfungi/visualisation/ECM_div_globalFungi_reprojectedRobinson.tif
